*{
    margin: 0;
    padding: 0;
}

body{
    background-color: darkgrey;
}
.cabeçalho{
    background-color: #3E65EE;
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
}

.cabeçalho-imagem{
    width: 30%;
    padding: 35px;
}

.lista-cabecalho{

    display:inline-block;
    padding: 30px;
    font-size: 35px;
    font-weight: bolder;
}

.escola {
    background-image: linear-gradient();
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 24px 0;
    background-color: #9BBBFB;
}

.texto-lista {

    display: inline-block;
    list-style-type: none;
    font-size: 21px;
}

.escola-imagem {

    width: 95%;
    margin: 42px;
}

.escola-texto {
    text-align: justify;
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
    margin: 20px;
}

.profissional-nome{
    font-size: 15px;
}

.equipe{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 35px;
}
