*{
    margin: 0;
    padding: 0;
}

body{
    background-color: rgb(8, 63, 73);
}
.cabeçalho{
    background-color: #3E65EE;
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
}

.cabeçalho-imagem{
    width: 30%;
    padding: 35px;
}

.lista-cabecalho{

    display:inline-block;
    padding: 30px;
    font-size: 35px;
    font-weight: bolder;
}

.escola {
    background-image: linear-gradient();
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 24px 0;
    background-color: #9BBBFB;
}

.texto-lista {

    display: inline-block;
    list-style-type: none;
    font-size: 21px;
}

.escola-imagem {

    width: 95%;
    margin: 42px;
}

.escola-texto {
    text-align: justify;
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
    margin: 20px;
}

.profissional-nome{
    font-size: 15px;
}

.equipe{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 35px;
}
.equipe-escola
{
  background-color: rgba(46,128,148, 0.6) ;
  margin: 10px;
  display:flex;
  padding: 50px;
  justify-content:space-evenly;
}

.equipe-coluna{
    display: contents;
    list-style-type: none;
    text-align: center;
}

.icones{
    width: 10%;
}
footer